
/* Styles para dispositivos Android 
@media only screen and (max-width: 767px) {
    body {
        background-color: #; 
    }
}

/* Styles para dispositivos non-Android 
@media only screen and (min-width: 768px) {
    body {
        background-color: #
    }
}
*/

body{
            /*fundo com degrade radius, usei o site "cssgradient.io" */
    background: rgb(98, 165, 117);
    background: radial-gradient(circle, rgb(98, 165, 117) 0%, rgb(219, 100, 100) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.tela{
    background-color: #221e1e6b;
    border-radius: 30px;
    
    width: 360px;
    height: 680px;
}

h1{
    font-family: Catamaran, Medium;
    color: #4F9556;
    letter-spacing: 2px;
    margin: 40px;
}

            /*textfield*/
.input{
    width: 100%;
    font-family: Catamaran, Medium;
    line-height: 28px;
    padding-left: 3rem;
    margin: 20px 0;
    border-radius: 30px;
    outline: 0;
    height: 25px;
    background-color: #00000000;
    border-color: #1F4723;
    border-style: solid;
    border-width: 0.01rem;
    transition: .3s ease;
}

.input::placeholder {
    color: #7F9D82; 
    font-family: Catamaran, Medium;
    font-size: 14px; 
    font-weight: normal; 
}

.input:focus, input:hover {
    outline: none;
    border-color: rgba(128, 255, 126, 0.4);
    background-color: #f5f5f5;
    box-shadow: 0 0 0 4px rgba(11, 24, 13, 0.1);
   }

.group {
    display: flex;
    line-height: 40px;
    align-items: center;
    position: relative;
    max-width: 300px;
  }


            /*icones dos txtfields*/
.icon {
    position: absolute;
    left: 1rem;
    fill: none;
    width: 1rem;
    height: 1rem;
}


button{
    margin: 20px 0;
    width: 300px;
    height: 30px;
    font-size: 16px;
    padding: 1px;
    border: none;
    border-radius: 30px;
    background-color: #4F9556;

    transition: all 0.1s linear;
}

button:active {
    transform: scale(0.95);
   }



h3{
    margin: 0;
    font-family: Catamaran, Medium;
    color: #F5F5F5;
    letter-spacing: 2px;
}



.buttonAutenticate{
    margin: 20px 0;
    width: 200px;
    height: 30px;
    font-size: 16px;
    padding: 1px;
    border: none;
    border-radius: 30px;
    background-color: #4F9556;

    transition: all 0.1s linear;
}